body {
	width: 1000px;
	background-color: #6477FF;
	font-family: sans-serif;
	margin: 3em auto;
}



code {
	background-color: gray;
}

h1 {
	text-align: center;
}

header {
	border: .08em solid black;
	width: 960px;

}

#left {
	float: left;
	margin: 25px;
}

#right {
	float: left;
	border-left: .08em solid;
	margin: 25px;
	padding-left: 25px;
}

footer {
	clear: both;
	text-align: center;
	border: .08em solid black;
	width: 960px;
}

