@media screen and (max-width: 980px) {

  /*****************************************
    HEADER - change things here for mobile
  ******************************************/

  .hidden {
    display: none;
  }

  .page_header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
  }

  .date {
    margin: 2px 0 10px 66%;
  }

  header h1 {
    border: none;
    /*background-color: red;*/
    text-align: center;
    width: 100%;
  }

  header span {
    
  }

  nav {
    /*background-color: red;*/
    /*width: 960px;*/
    
  }

  nav ul {
  margin-bottom: 5px;
  padding-left: 0;

  }

  nav li {
  display: inline;
  font-size: 105%;
  padding: 12px 0 12px 0;
  }


  /**********************************
    PAGE LEFT
  ***********************************/

  .page_left {
    border: none;
    width: 97%;
    clear: both;
    padding: 5%;
    margin-left: 1%;
    margin-right: 0;
    margin-bottom: 4px;
    text-align: center;
    padding: 0 20% 0 20%;
    
  }

  figcaption {
    display: none;
  }

  .txt {
    display: none;
  }

  .git {
  margin: 0 auto;
  margin-top: 5px;
}

  /**********************************
    PAGE CONTENTS
  ***********************************/
  .page_content {
    border: none;
    width: auto;
    clear: both;
    padding: 5%;
    margin-right: 2%;
  }

  .page_content {
    font-size: 1.2em;
  }

  .title {
    font-size: 2em;
    text-align: center;
    line-height: 1.2em;
  }

  #cssmenu {
    margin: auto;
    margin-top: 5%;
  }


  /**********************************
    PAGE RIGHT
  ***********************************/

  .page_right {
    border: none;
    width: 97%;
    clear: both;
    padding: 5%;
    margin-right: 2%;
    margin-bottom: 4px;
    padding: 5% 20% 0 20%;
  }

  ol, ul {
    list-style: none;
  }

  .responsive {
    /*text-align: center;*/
  }

  .notes {
    text-align: center;
  }

  .cat h4 {
    text-align: center;
  }

  .cat h5 {
    padding-left: 30%;
  }

  .cat ul {
    /*text-align: center;*/
  }

  .socialize h4 {
    text-align: center;
  }

  .twitter-share-button {
    display: none;
  }

  .twitter-timeline {
    margin-left: 30%;
  }
  

  /**********************************
    FOOTER
  ***********************************/

  .page_footer {
    border: none;
    margin-left: 0;
    width: 100%;
    clear: both;
  }
 

}

@media screen and (max-width: 480px) {

  /**********************************
    PAGE LEFT
  ***********************************/

  .page_left {
    width: 96%;
    margin-left: 2%;
  }

  /**********************************
    PAGE RIGHT
  ***********************************/

  .page_right {
    border: none;
    width: 96%;
    clear: both;
    padding: 5%;
    margin-right: 2%;
  }

  .twitter-timeline {
    margin-left: 20%;
  }

  .date {
    margin: 2px 0 10px 67%;
  }

  .page_image {
    height: 160px;
  }

  code {
    font-size: .5em;
  }

}

/*text-shadow: 0px 0px 20px #219eb3;*/