/* this file is for my blogs */


* { margin: 0; padding: 0; }

body {
    background-color: #ffffff;
    border: none;
    /*width: 960px;*/
    /*height: 2500px;*/
    line-height: 1.5em;
    font-family: 'Roboto Condensed', Arial, san-serif;
    font-size: 1em;
    margin: 0 auto;
    position: relative;
    text-align: justify;
}

#wrapper {
  border: none;
  max-width: 960px;
  background-color: #ffffff;
  padding-top: 70px;
  margin: 0 auto;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #3a9a3a;
}

.mail {
  width: 16px;
  height: auto;
}

code {
font-size: .8em;
color: #666666;
font-family: Courier, Monospace !important;
background-color: #d9ffb2;
border: 1px solid #ddd;
padding: 1px 3px;
white-space: pre;
}



h3 {
  padding-left: 5px;
}

/*.hidden { this is for the fade in blog that I took out
  display: none;
}*/

.links {
  text-decoration: underline;
}

mark.color {
  color: #3a9a3a;
  background: none;
}

p {
  font-weight: 200;
  padding: 0 10px 0px 10px;
}

.picture {
  width: 98%;
  height: auto;
  margin: 5px auto 5px auto;
}


/****************************************************/
/*            HEADER                                */
/****************************************************/



.page_header {
  border: none;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
}
  
header h1 {
  padding-top: 15px;
  font-family: georgia, times, serif;
}

header span {
  border: none;
  font-family: 'Playball', cursive;
  margin-left: 710px;
}

nav {
  border: none;
  max-width: 960px;
  background-color: #dbe4de;
  margin-bottom: 5px;
}

nav ul {
  border: none;
  margin-bottom: 15px;
  font-size: .7em; 
  /*padding-left: 79%;*/
  text-align: center;
}

nav li {
  border: none;
  display: inline;
  padding: 12px 0 12px 0;
}





/****************************************************/
/*            PAGE LEFT                             */
/****************************************************/

.page_left {
	border: none;
  background-color: #ffffff;
  margin-left: 5px;
	float: left;
	width: 116px;
  height: 100%;
  
}

.center {
  width: 100px;
  border-radius: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

figcaption {            /* why cant i get this to center auto */
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

.txt {
  line-height: .9em;
  font-size: 18px;
  font-family: 'Reenie Beanie', cursive;
  color: #ababab;
  text-align: center;
}

article a {
  color: #ababab;
}

.typ_bd {
  border-top: 3px solid #000000;
  line-height: .9em;
  font-size: 18px;
  font-family: 'Reenie Beanie', cursive;
  color: #000000;
  text-align: center;
  border-bottom: 1px dashed #000000;
  padding: 3px 0 5px 0;
  margin: 2px;
}

.socialize_icon {
  margin: 5px;
}

table {
  margin: 0 auto;
}

td, th {padding: 3px;}

.col_three {
  padding: 13px 8px 0 10px;
}

.button_two:hover {
  color: #e70606;
}

.button_three:hover {
  color: #062ce7;
}

.button_four:hover {
  color: #06a9e7;
}

.left_line {
  margin: 2px;
}

.git {
  margin-left: 45px;
  margin-top: 5px;
}

/****************************************************/
/*            THE PAGE CONTENT                      */
/****************************************************/


.page_content {
	border: none;
  margin-left: 6px;
  background-color: #f7f9f8;
  float: left;
	width: 620px;
  margin-bottom: 4px;     
}

.title {
  font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
  font-style: italic;
  padding: 5px;
  line-height: 1em;
  font-size: 2em;
}

.title_image {
  float: left;
  padding: 5px 8px 0 5px;
}

.page_image {
  /*width: 150px;*/
  padding: 10px 0 10px;
  /*border: 1px solid green;*/
  margin-left: 2%;
}

.commnet_box {
  background-color: #ffffff;
  width: 75%;
  border: 1px solid red;
}

.page_content strong {
  margin: 15px;
  font-style: oblique;
}

.page_content p {
  font-size: 1.1em;
}

h1 {
  padding-bottom: 2px;
}

h2 {
  margin: 5px 0 0 10px;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  padding: 2px;
}

.page_content h3 {
  margin: 10px 0 10px 8px;
}

.date {
  font-size: 14px;
  padding-top: 0;
  /*float: right;*/
  margin: 2px 0 10px 83%;
  font-family: times serit;
  font-style: oblique;
  font-weight: 100;
}

.line {
  clear: both;
  margin: 0 10px 1px 10px;
  min-width: 90%;
}

.output {
  font-family: times serit;
  font-style: oblique; 
  font-size: 1em;
  color: green;
  padding: 0;
  margin-left: 40px;
}

.ref_block {
  border: none;
  background-color: ;
  width: 75%;
  margin: 15px auto;
  font-style: oblique;
  padding: 15px;
  -moz-box-shadow:    1px 1px 3px 2px #cbd8d2;
  -webkit-box-shadow: 1px 1px 3px 2px #cbd8d2;
  box-shadow:         1px 1px 3px 2px #cbd8d2;
}

.ref_line {
  width: 20%;
  margin-top: 35px;
}

.references {
  font-family: times serit;
  font-style: oblique;
  font-weight: 100; 
  font-size: .5em;
}

/*THIS IS MY CODE BLOCK TABLE*/
table.code_block {
  border-radius: 5px;
  background-color: #dbe4de;
  margin: 10px auto 2px auto;
  padding: 0; 
  width: 98%;
  font-size: .8em;
}

th {
  text-align: left;
  padding-left: 2px;
}

tr {
  font-family: Courier, Monospace !important;
}

td {
  color: #666666;
  background-color: #ffffff;
  padding: 0;
}

.code_block {
  padding-left: 0;
}

.table_border {
  width: 12px;
  
}

.table_border2 {
  border-right: 3px solid;
  border-color: #gray;
}

/****************************************************/
/*           MY SOCAIL MEDIA LINKS                  */
/****************************************************/

.socail_media {
  border: none;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.socail_media ul {
  list-style: none;
}

.socail_media li {
  display: inline;
}



/*****************************************************/
/*            PAGE RIGHT                             */
/*****************************************************/

.page_right {
  border: none;
  background-color: #f7f9f8;
  line-height: 1em;
	float: right;
	width: 201px;
  margin-right: 5px;
  margin-bottom: 35px;
}

#today {
  color: #3a9a3a;
  font-size: 14px;
  padding-top: 3px;
}

section h4 {
  border-top: 3px solid;
  border-bottom: 1px dashed;
  padding: 3px 0 5px 0;
  margin: 2px;
}

.notes {
  padding: 1px 0 5px 0;
  font-size: 12px;
  font-style: oblique;
  color: #3a9a3a;
  margin: 2px;
}

.quote {
  color: #000000;
}

.cat {
  padding: 3%;
}

.references {
  background-color: red;
  margin-bottom: 25px;
}

section li {
  display: relitive;
  font-size: 12px;
  margin-left: 30px;
}

.twitter-timeline {
  margin-left: 2px;
  height: 250px;
}

.socialize {
  margin-left: 1px;
}

.bottom_line {
  width: 75%;
  margin: 25px auto 25px auto;
}


.page_footer {
  border: none;
	width: 620px;
  height: 100%;
  font-size: 80%;
  margin-bottom: 15px;
  margin-left: 127px;
  padding: 1px 0 0 20px;
  background-color: #dbe4de;
  clear: left;
  text-align: center;
}

/******* TOOL TIPS for my bio page DO NOT DELETE**************/

/* Some basic styles */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 100px;
  -webkit-border-radius: 2px;
  -moz-border-radius:    2px;
  border-radius:         2px;
  background-color: #000;
  background-color: hsl(0,0%,50%);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsl(0,0%,50%);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
