/* this file is for my blogs */


article, aside, figure, footer, header, hgroup, menu, nav, section 
{ display: block; }

* { margin : 0; padding : 0; }

body {
    background-color: #ffffff;
	  border: none;
	  width: 960px;
    height: 1600px;
    line-height: 1.5em;
    font-family: 'Roboto Condensed', Arial, san-serif;
    font-size: 1em;
    margin: 0 auto;
    position: relative;
    text-align: justify;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #3a9a3a;
}

h3 {
  padding-left: 5px;
}

.links {
  text-decoration: underline;
}

mark.color {
  color: #3a9a3a;
  background: none;
}

p {
  padding: 0 5px 0px 5px;
}



.page_header {
	border: none;
  background-color: #ffffff;
  position: fixed;
  width: 960px;
  height: 50px;
  top: 0;
}
  
header h1 {
  padding-top: 15px;
  font-family: georgia, times, serif;
}

header span {
  padding: 0 0 4px 715px;
  font-family: 'Playball', cursive;
}

nav {
  border: none;
  background-color: #dbe4de;
  height: 22px;
  margin-bottom: 5px;
}

nav ul {
  padding: 0px 0px 0px 795px;
  margin-bottom: 5px; 

}

nav li {
  display: inline;
  font-size: 12px;
  padding: 2px;
}



#wrapper {
    background-color: #ffffff;
    padding-top: 70px;
    width: 100%;
    margin: 0 auto;
}


.page_left {
	border: none;
  background-color: #ffffff;
  margin-left: 5px;
	float: left;
	width: 116px;
  height: 100%;
  
}

.center {
  width: 80px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

figcaption {            /* why cant i get this to center auto */
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

.txt {
  line-height: .9em;
  font-size: 18px;
  font-family: 'Reenie Beanie', cursive;
  color: #ababab;
  text-align: center;
}

.typ_bd {
  border-top: 3px solid #000000;
  line-height: .9em;
  font-size: 18px;
  font-family: 'Reenie Beanie', cursive;
  color: #000000;
  text-align: center;
  border-bottom: 1px dashed #000000;
  padding: 3px 0 5px 0;
  margin: 2px;
}

.socialize_icon {
  margin: 5px;
}

table {
  margin: 0 auto;
}

td, th {padding: 3px;}

.col_three {
  padding: 13px 8px 0 10px;
}

.button_two:hover {
  color: #e70606;
}

.button_three:hover {
  color: #062ce7;
}

.button_four:hover {
  color: #06a9e7;
}

.left_line {
  margin: 2px;
}

.git {
  margin-left: 45px;
  margin-top: 5px;
}


.page_content {
	border: none;
  margin-left: 9px;
  background-color: #f7f9f8;
  float: left;
	width: 620px;     
  height: 100%;
}

h1 {
  padding-bottom: 2px;
}

h2 {
  margin: 15px 0 2px 15px;
  font-size: 2.5em;
}

.date {
  font-size: 14px;
  padding-top: 10px;
  float: right;
  margin-right: 15px;
  font-family: times serit;
  font-style: oblique;
  font-weight: 100;
}

.line {
  margin: 0 auto;
  width: 100%;
}



.page_right {
  border: none;
  background-color: #dbe4de;
  line-height: 1em;
	float: right;
	width: 201px;
  height: 100%;
}

#today {
  color: #3a9a3a;
  font-size: 14px;
  padding-top: 3px;
}

section h4 {
  border-top: 3px solid;
  border-bottom: 1px dashed;
  padding: 3px 0 5px 0;
  margin: 2px;
}

.notes {
  padding: 1px 0 5px 0;
  font-size: 12px;
  font-style: oblique;
  color: #3a9a3a;
  margin: 2px;
}

.quote {
  color: #000000;
}

.cat {
  padding: 0 0 10px 0;
}

section li {
  display: relitive;
  font-size: 12px;
  margin-left: 30px;
}

.twitter-timeline {
  margin-left: 2px;
  height: 250px;
}

.socialize {
  margin-left: 1px;
}



.bottom_line {
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 30px;
}


.page_footer {
  border: none;
	width: 600px;
  height: 100%;
  font-size: 80%;
  margin-bottom: 5px;
  margin-left: 130px;
  padding: 1px 0 0 20px;
  background-color: #dbe4de;
  clear: left;
  text-align: center;
}




/*All media code goes under here*/

@media screen and (max-width: 960px) {
   
   .header {
    text-align: center;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    }
    
    .index {
        margin-bottm: 3%;
    }
   
    
    .page_header {
        padding: 1%;
        margin: 3%;
    }
    
    .page_left {
        padding: 1%;
        margin: 3%;
    }
    
    .page_content {
        padding: 1%;
        margin: 3%;
    }
    
    .images {
        display: none;
        padding: 1%;
        margin: 3%;
    }
    
    .page_right {
        padding: 1%;
        margin: 3%;
    }

    .page_footer {
        padding: 1%;
        margin: 3%;
    }
}



/*this is for Iphones*/
@media screen and (max-width: 480px) {

  .header {
      text-align: center;
      padding: 1%;
      margin-left: 3%;
      margin-right: 3%;
      margin-top: 1%;
      margin-bottom: 1%;
      }
      
      .index {
          margin-bottm: 3%;
      }
     
      
      .page_header {
          padding: 1%;
          margin: 3%;
      }
      
      .page_left {
          padding: 1%;
          margin: 3%;
      }
      
      .page_content {
          padding: 1%;
          margin: 3%;
      }
      
      .images {
          display: none;
          padding: 1%;
          margin: 3%;
      }
      
      .page_right {
          padding: 1%;
          margin: 3%;
      }
  
      .page_footer {
          padding: 1%;
          margin: 3%;
      }
  }

/* Clear Floated Elements 
.clearfix:before, .clearfix:after {content: "\0020"; 
display: block; height: 0; visibility: hidden;}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
*/

