:root {
  --blue: #34495e;
  --green: #e74c3c;
  --yellow: #C9C243;
  --orange: #FFA644;
  --red: #3498db;
}
html, body {
  background-color: #191919;
}

.header-container {
  background-color: #000;
  height: 60px;
}

.container {
}

a:hover {
  text-decoration: none;
}

.my-name {
  padding: 10px 0 0 10px;
  color: white;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 200px 1fr; */
  margin-top: 35px;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: 100px; */
  grid-gap: 20px;
}

.item {
  cursor: pointer;
  border: 0px solid red;
  padding: 15px;
}

.ciq-img, .bluecrew-img {
  width: 100%;
}

.bluecrew-img {}

#footer {
  clear: both;
  top: -100px;
  left: 0;
  right: 0;
}

/* Model css */
.modal-header {
  background-color: #000;
  border: 1px solid #05B704;
}
.modal-content {
  background-color: #191919;
  color: #ACAD02;
}
.modal-body {
  background-color: #191919;
  border-left: 1px solid #05B704;
  border-right: 1px solid #05B704;
}
.modal-header {
  border-bottom: 1px solid #191919 !important;
}

.modal-description {
  border-bottom: 1px solid #191919 !important;
  margin-bottom: 20px;
}

.modal-footer {
  background-color: #000;
  border: 1px solid #05B704;
}

.footer-text {
 color: #ACAD02 !important;
}

@media (min-width: 450px) {
   body {
     /* background-color: var(--red); */
   }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

@media (min-width: 768px) {
   body {
     /* background-color: green; */
   }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

 @media (min-width: 960px) {
   body {
     /* background-color: red; */
   }
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}