Body {
	color: #666666;
	background-color: white;
	background-position: center;
	line-height: 1.2em;
	font-family: georgia, times, serif;
}

* {
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 1000px;
	margin: 20px auto 20px auto;
}

header {
	height: 100%;
	border: none;
}

h1 {
	padding-bottom: 5px;
}

.top_line {
	margin-top: 3px;
	margin-right: 5px;
	margin-bottom: 15px;
}

.bottom_line {
	margin-top: 30px;
	margin-right: 400px;
	margin-bottom: 96px;
}

mark.color {
	color: #3a9a3a;
	background: none;
}

nav {
	background-color: #e6e6e6;
	height: 100%;
}

nav ul {
	padding: 0px 0px 0px 850px;
	margin: 0px;
}

nav li {
	display: inline;
	font-size: 12px;
	padding: 12px;
}

#content {
	float: left;
	width: 750px;
	margin-top: 20px;
}

.date {
	font-family: times serit;
	font-style: oblique;
	font-weight: 100;
}

.pic {
	float: left;
	padding-right: 20px;
	padding-top: 10px
}

aside {
	width: 200px;
	height: 400px;
	margin-top: 25px;
	padding: 0px 1px 1px 1px;
	float: right;
	border-bottom: 1px solid;

}

section h4 {
	border-top: 3px solid;
	border-bottom: 1px dashed;
	padding: 5px 0 5px 0;
}

.notes {
	padding: 5px 0 5px 0;
	font-size: 15px;
	font-style: oblique;
	color: #3a9a3a;
}

.cat {
	padding: 96px 0 20px 0;
}

section li {
	display: relitive;
	font-size: 12px;
	margin-left: 30px;
}

footer {
	width: 100%;
	font-size: 80%;
	padding: 7px 0px 0px 20px;
	border: none;
	background-color: #e6e6e6;
	float: left;
	clear: both;
	text-align: center;
}