<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Troy's Thoughts</title>

  <link rel="stylesheet" type="text/css" href="../stylesheet/blog_stylesheet.css" media="screen" />
  <meta name="viewport" content="width=device, initial-scale=1.0, user-scalable = no">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheet/blog_menu_style.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="../stylesheet/blog_responsive.css" media="screen" />
  <link rel="stylesheet" href="../font-awesome-4.2.0/css/font-awesome.min.css">

  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="../JS/blog_menu_script.js"></script>

<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--[if lte IE 7]>
	<script src="js/IE8.js" type="text/javascript"></script><![endif]-->
<!--[if lt IE 7]>
 
	<link rel="stylesheet" type="text/css" media="all" href="css/ie6.css"/><![endif]-->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> not sure what this does yet 
<script type="text/javascript" src="../JS/jquery.js"></script> -->

<!-- <script src="jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="jquery.hoverIntent.minified.js" type="text/javascript" charset="utf-8"></script> -->

</head>
 
<body id="index" class="home">
  <div id="wrapper">


  <header class="page_header">
    <h1>TROY<mark class="color">leach</mark><span class="hidden">Blog</span></h1>
      <nav>
        <ul>
          <li><a href="http://troyleach.com">HOME |</a></li>
          <li><a href="http://troyleach.github.io/blog_posts/bio_blog.html">ABOUT |</a></li>
          <li><a href="http://troyleach.github.io/blog_posts/blog.html">BLOG</a></li>
        </ul>
      </nav>
  </header>


  
      <aside class="page_left">
        <figure>
          <img class="center" src="../images/fun-me.JPG" alt="Image of Troy">
            <figcaption>by Troy Leach</figcaption>
        </figure>
        <article class="txt">
          <p><a href="http://anyonecanlearntocode.com/" target="_blank">Student at ACLTC</a></p>
          <p>Software developer</p>
          <p>Scuba diver</p>
        </article>

        <article class="typ_bd">
          <h4>Socialize</h4>
        </article>

            <section>
                <table>
                  <tr class="row">
                    <td class="col"><a href="https://plus.google.com/u/0/100235641551070410533/posts" target="_blank"><button class="            button_two">G</button></a></td>
              
                    <td class="col"><a href="https://www.facebook.com/troy.leach.14" target="_blank"><button class="button_three">facebook</button></a></td>
              
                    <td class="col"><a href="http://www.linkedin.com/pub/troy-leach/a/80b/672" target="_blank"><button class="button_four">in</button></a></td>
                  </tr>
                </table>
            </section>

            <hr class="left_line">


            <a href="https://github.com/troyleach" target="_blank"><img class="git" src="../images/GitHub24x24.png" alt="GitHub"></a>
        
      </aside>
      
        <section class="page_content">
          
          <h2 class="title">Shave seconds, with Snippets...</h2>
          <hr class="line">
          <div class="date">Febuary 13, 2015</div>
<!-- Beginning of this awesome blog -->
            <img src="http://www.kraftfeld.ch/pic/prog0711/bilder_gr/Snippets_Logo_black.jpg" alt="Snippet image" width="55%" class="title_image">      
          <p>
            If you are cutting & pasting any HTML, CSS, Ruby, or Rails code, or better yet typing the same code over... and over... and over.... - STOP, take a breath and read on!
          </p>

          <p>
            In the words to follow I will show you how to make snippets in sublime text 2/3. When I first heard about snippets and pulled up the file it looked really intimidating. Being a newbie coder I didn't want to mess anything up or god for bid 'wreck' my computer! When you first bring up the code it might look a little intimidating but trust me, this is easy and will save you tons of seconds, seconds that you will never get back otherwise!
          </p><br>

          <p>
            Snippets are nothing more than predefined code blocks that you can set up. Once the code block is set up you type the desired key binding and boom... the code is there with the cursor placed precisely where you want. Lets look at some code.
          </p><br>

          <p>
            Example, <code><%=  %></code> How many times are we going to type this bit of code? A LOT! Wouldn't it be nice if we could just type a single key, hit the tab key and BAM.. it was there with the cursor in the middle.
          </p>
          <img src="../images/snippet-1.png" alt="snippet picture one" width="180px">
          <p>
            Lets get coding and see how we might accomplish this!
          </p>
            <h3>Create:</h3>
            <p>
              To create your first snippet in sublime do the following:
              Go to tools > New Snippet. A new untitled file will open that should contain something similar to the following:
            </p>
              <img src="../images/snippet-2.png" alt="snippet picture two" class="page_image" width="95%">
            <p>
              First thing, see the code <code>Hello, ${1:this} is a ${2:snippet}.</code> with in the tags <code>content</code> replace that code with your desired code. In my case it is <code><%=  %></code>.<br>
              Example:
              <code>[CDATA[ <- YOUR CODE BETWEEN THE BRACKETS -> ]]</code>
            </p>

            <p>
              Notice the <code>$0</code> that is where you want the cursor to go when you you first expand your snippet. If you have a large code block you might want to have your cursor jump from spot to spot, in order, <code>$0</code> first spot, then <code>$1</code> for the next spot, and so on. After you have typed in the desired text hit the tab key again and the cursor will jump to the next spot.. Magic...
            </p>
              <div class="commnet_box ref_block">
                <img src="../images/snippet-1a.png" alt="snippet picture two" width="100%">
                <p>
                  Are you wondering what this means? the <code>${1:this}</code> and <code>${2:snippet}</code>? Go ahead, pull a untitled file, save it as test.sublime-snippet. Pull up a doc, change the extension to HTML type in hello and hit tab. Go on, I will wait.... did you see what happened, 'this', and 'snippet' are defaults, the 1 is the where the cursor will start, the 2 two is the next position.. Pretty cool huh?? Magic..
                </p>
              </div>
            <br>
            <p>
              Next you will see some code that is commented out. Uncomment the tabTrigger tags. Here you will replace the <code>hello</code> (or what ever it says) with whatever key binding you want. I used 'ee', why? why not? The only 'Got Ya' here is that you need to make sure that the key binding doesn't already exist. For me, the easiest way is to go into sublime and type the key I want to use and hit tab, if nothing happens I'm pretty sure your safe in using that particular key.
            </p><br>
            <p>
              Last, the scope, which determines the kinds of files (HTML, CSS, PHP, shell script) in which the expansion takes place. Again get rid of the commented line describing the scope and type text.html. Your file should look something like this:
            </p>
            <img src="../images/snippet-3.png" alt="snippet picture two" class="page_image" width="95%">
            <h3>Save:</h3>
            <p>
              File name: The file must end with .sublime-snippet, like this: bee.sublime-snippet. What goes in front of .sublime-snippet is up to you.
            </p>
            <p>
              Where to save it. When you press save, Sublime should automatically try and save the file in the right folder:
            </p>
            <p>
              Mac OS X: /Users/yourname/Library/Application Support/Sublime Text 2/Packages/User
            </p>
            <h3>Test:</h3>
            <p>
              Now for the fun. Open up Sublime, change the extension (lower right hand side of the window) to HTML, type in your key binding press tab.. and watch the magic.
            </p>
            <hr class="line">
            <h3>More info:</h3>
            <p>
              For more info about Sublime Text's snippets, see the canonical source: <a href="http://docs.sublimetext.info/en/latest/extensibility/snippets.html" target="_blank">Sublime Text Docs: Sinipeets</a>
            </p>
            
<!-- END of this awesome blog -->      

          <hr class="bottom_line">

               <div class="socail_media">
                 <ul>
                   <li class"=google"><a href="https://plus.google.com/u/0/100235641551070410533/posts" target="_blank" data-tooltip="GOOGLE"><i class="fa fa-google-plus fa-2x"></i></a></li>
                   <li class"=twitter"><a href="https://twitter.com/troyleach29" target="_blank" data-tooltip="@troyleach29"><i class="fa fa-twitter fa-2x"></i></a></li>
                   <li class"=github"><a href="https://github.com/troyleach" target="_blank" data-tooltip="GITHUB"><i class="fa fa-github fa-3x"></i></a></li>
                   <li class"=fbook"><a href="https://www.facebook.com/troy.leach.14" target="_blank" data-tooltip="FACEBOOK"><i class="fa fa-facebook fa-2x"></i></a></li>
                   <li class"=in"><a href="http://www.linkedin.com/pub/troy-leach/a/80b/672" target="_blank" data-tooltip="LINKEDIN"><i class="fa fa-linkedin fa-2x"></i></a></li>
                 </ul>
               </div>

        </section>
      
<!-- Page right -->       
          <aside class="page_right">
            <section>
              <p id="today"></p>
            </section>

            <section class="responsive"> 
              <h4>Welcome to Tbits<mark class="color"> <i>Technical</i></mark></h4>
              <p>A blog for beginners</p>
            </section>

<!-- Quote -->
            <section class="notes">
              <p>These are bits of Troy's thoughts!</p>
              <p class="quote">
                <img src="http://ex-preacher.com/wp-content/uploads/2013/02/valentines-day-wallpaper.jpg" alt="Valintines picture" width="175px">
              </p>
            </section>

<!-- recent posting -->
            <section class="cat">
              <h4>Categories</h4>

                <div id='cssmenu'>
                <ul>
                   <li class='has-sub'><a href='#'><span>Technical</span></a>
                      <ul>
                         <li><a href="http://troyleach.github.io/blog_posts/week8_technical.html"><span>Regular Expression</span></a></li>
                         <li><a href="http://troyleach.github.io/blog_posts/week7_technical.html"><span>SQL Injections</span></a></li>
                         <li class='last'><a href="http://troyleach.github.io/blog_posts/week5_technical.html"><span>Classes in Ruby</span></a></li>
                      </ul>
                   </li>

                   <li class='has-sub'><a href='#'><span>Cultural</span></a>
                      <ul>
                         <li><a href="http://troyleach.github.io/blog_posts/asking_the_right_question.html"><span>Asking the right question</span></a></li>
                         <li class='last'><a href="http://troyleach.github.io/blog_posts/week8_cultural_blog.html"><span>Dealing with conflict</span></a></li>
                      </ul>
                   </li>

                   <li class='has-sub'><a href='#'><span>Eating & Drinking</span></a>
                      <ul>
                         <li><a href="http://troyleach.github.io/reciepe/reciepe_blog.html"><span>Prefect Prime Rib</span></a></li>
                      </ul>
                   </li>
                </ul>
                </div>

            </section>

<!-- TWITTER -->
            <section class="socialize">
              <h4>Twitter</h4>

              <a href="https://twitter.com/share" class="twitter-share-button" data-via="troyleach29">Tweet</a>

              <a class="twitter-timeline" width="195" href="https://twitter.com/troyleach29" data-widget-id="514873953563574272">Tweets by @troyleach29</a>
            </section>

<!-- REFERENCES -->
            <section class="cat">
              <h4>Blog References</h4>
                <ul>

                  <li><a href="http://docs.sublimetext.info/en/latest/extensibility/snippets.html" target="_blank">Sinipeets</a></li>

                </ul>
            </section>

          </aside>
      
      
      <footer class="page_footer">
        &copy; 2015 TROY<mark class="color">leach</mark>
      </footer>

	</div> <!--close wrapper-->

  <!-- MY SCRIPTS -->
      <script type="text/javascript">
        var d = new Date();
        document.getElementById("today").innerHTML = d.toDateString();
      </script>

      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>

      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>


</body>
</html>
